<html>
	<head>
		<meta charset='utf-8'>
		<meta name="description" content="Gala: Learn how to program by commanding a robot army in space!">
		<meta name="author" content="Kevin Hwang & Ajay Tripathy">
		<title>Welcome to the Gala!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/index.css" rel="stylesheet">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<script src="/static/interpreter.js"></script>

		<!--HTML5 shim, for IE6-8 support of HTML5 elements. Does it actually work? No clue, but here's to hoping it does!-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script>
			$(document).ready(function () {
				console.log("ready and waiting");

				$("#tacticalButton").click(function () {
					//window.open("/raphael");
					window.location = "/raphael";
				});

				$("#cinematicButton").click(function () {
					//window.open("/three");
					window.location = "/three";
				});

			});

		</script>
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Gala</a>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="hero">
				<h1>Learn how to program.</h1>
			</div>
			<div class="container">


				<div class="row">
					<div class="span12">
						<h3>Welcome, Commander!</h3>
						<br>
						<p>We're still setting your command station up, so excuse how bare everything is. In the meantime though, please take a look around!</p>
						<p><button class="btn" id="tacticalButton">Tactical View</button></p>
						<p><button class="btn btn-inverse" id="cinematicButton">Cinematic View</button></p>
					</div>
					
				</div>

				<div class="row">
					
				</div>

				<hr>
				<footer>
					<ul class="breadcrumb">
						<li class="active"><a href="#">Home</a></li>
					</ul>
					<p>&copy; Ajay Tripathy & Kevin Hwang 2012</p>

				</footer>
			</div>
		</div>
		



	</body>
</html>