<html>
	<head>
		<meta charset='utf-8'>
		<meta name="description" content="Gala: Learn how to program by commanding a robot army in space!">
		<meta name="author" content="Kevin Hwang & Ajay Tripathy">
		<title>Spectating!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/spectate.css" rel="stylesheet">

		<!--HTML5 shim, for IE6-8 support of HTML5 elements. Does it actually work? No clue, but here's to hoping it does!-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script>
			var board = null;

			var maxX = 9;
			var maxY = 9;

			$(document).ready(function () {
				console.log("ready and waiting");


				board = new Array(maxX+1);

				for (var i = 0; i <= maxX; i++) {
					board[i] = new Array(maxX+1);
				}

				for (var i = 0; i <= maxX; i++) {
					for (var j = 0; j <= maxY; j++) {
						board[i][j] = null;
					}
				}

				initializeBoard();
			});
		</script>


		<script>
			var loadBoard = function () {
				console.log("loading board...");
				$.post("/getBoardState", function (data) {
					console.log("got board state. time to draw!");
					drawBoard(data)
				})
			}

			//NOTE: currently the board is increasing in x to the right and increasing in y down.
			//this is the opposite of how the board is represented in server.js
			//will fix this one day.

			var initializeBoard = function () {

				console.log("initializing board...");
				for (var j = maxY; j >= 0; j--) {
					var toAdd = "<tr>";
					for (var i = 0; i <= maxX; i++) {
						toAdd += "<td id='cell"+i+","+j+"'>hi</td>"
					}
					//console.log("row to add: "+toAdd);
					$("#gameBoard").find("tbody").append(toAdd)

				}
			}

			var drawBoard = function (newBoard) {
				//updates the board! 
				console.log("drawing new board");
				console.log(newBoard);
				for (var i = 0; i <= maxX; i++) {
					for (var j = 0; j <= maxY; j++) {
						var cell = document.getElementById("cell"+i+","+j)
						var boardObj = newBoard[i][j];
						if (boardObj.type == "Space") {
							cell.innerText = "SPACE";
						} else if (boardObj.type == "Ship") {
							cell.innerText = "SHIP";
						} else {
							alert('wat');
						}
					}
				}

			}
		</script>
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Gala</a>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="hero">
				<h1>Spectate mode</h1>
			</div>
			<div class="container">


				<div class="row">
					<div class="span12">
						<p>Do a loop: ask for the board state and then display it.</p>
					</div>
				</div>

				<div class="row">
					<div class="span12" id="gameBoardDiv">
						<table class="table table-bordered" id="gameBoard">
							<tbody>
							</tbody>
						</table>
						
					</div>
				</div>

				<div class="row">
					<div class="span12">
						<button onclick="loadBoard()">Load the board!</button>
					</div>
				</div>

				<hr>
				<footer>
					<p>&copy; Ajay Tripathy & Kevin Hwang 2012</p>
				</footer>
			</div>
		</div>
		



	</body>
</html>