<html>
	<head>
		<meta charset='utf-8'>
		<meta name="description" content="Gala: Learn how to program by commanding a robot army in space!">
		<meta name="author" content="Kevin Hwang & Ajay Tripathy">
		<title>Cinematic</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/FastBlur.js"></script>
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
		<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/static/three.css" rel="stylesheet">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<script src="/nowjs/now.js"></script>
		<!--HTML5 shim, for IE6-8 support of HTML5 elements. Does it actually work? No clue, but here's to hoping it does!-->

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script src="/static/Three.js"></script>

		<script>

		var shipObjs = [];
		var tracking = false;
		var trackedShipId = null;
		var isTurning = false;


		var camera, scene, renderer, geometry, material, mesh;

		var board = null;

		var maxX = 9;
		var maxY = 9;

		var shipToThree = {};

		$(document).ready(function () {

			now.ready( function () {
				now.getChanges = function (changes) {
					updateBoard(changes);
				}
			});

			board = new Array(maxX+1);

			for (var i = 0; i <= maxX; i++) {
				board[i] = new Array(maxX+1);
			}

			for (var i = 0; i <= maxX; i++) {
				for (var j = 0; j <= maxY; j++) {
					board[i][j] = null;
				}
			}
			init();
			//animate();
			$(document).keypress(function (e) {
				//console.log("pressed")
				//console.log(e.keyCode);
				//w = 119
				//a = 97
				//s = 115
				//d = 100
				//o = 111
				//p = 112
				//[ = 91
				//] = 93
				//; = 59
				//' = 39
				//. = 46
				/// = 47
				var code = e.keyCode;
				if (code == 119) {
					camera.translateZ(-10)
				} else if (code == 97) {
					camera.translateX(-10)
				} else if (code == 115) {
					camera.translateZ(10)
				} else if (code == 100) {
					camera.translateX(10)
				} else if (code == 111) {
					camera.translateY(10)
				} else if (code == 112) {
					camera.translateY(-10)
				} else if (code == 91) {
					//camera.target.position.y += 10
					camera.rotation.x -= .1
				} else if (code == 93) {
					//camera.target.position.y -= 10
					camera.rotation.x += .1
				} else if (code == 59) {
					//camera.target.position.x -= 10
					camera.rotation.y += .1
				} else if (code == 39) {
					//camera.target.position.x += 10
					camera.rotation.y -= .1
				} else if (code == 46) {
					camera.rotation.z += .1
				} else if (code == 47) {
					camera.rotation.z -= .1
				}
				requestAnimationFrame(animate)
			})
		});

		var loadSpaceShip = function (boardObj) {
			var loader = new THREE.JSONLoader();
			var playerId = boardObj.playerId;

			var meshArgs = null;

			if (playerId === "playerLeft") {
				meshArgs = {color: 0xff0000, wireframe: false};
			} else {
				meshArgs = {color: 0x0000ff, wireframe: false};
			}

			var material = new THREE.MeshBasicMaterial(meshArgs);
			
			loader.load('/static/ship.js', function (geometry) {
				var mesh = new THREE.Mesh(geometry, material);
				mesh.position.x = boardObj.position.x * 50;
				mesh.position.z = boardObj.position.y * 50;
				mesh.scale.x = mesh.scale.y = mesh.scale.z = 10;
				scene.add(mesh);
				shipToThree[boardObj.shipId] = mesh
				var heading = boardObj.facing;
				if (heading == "up") {
    				mesh.rotation.y = Math.PI * 1/2;

    			} else if (heading == "right") {
    				mesh.rotation.y = Math.PI * 0;

    			} else if (heading == "down") {
    				mesh.rotation.y = Math.PI * 3/2;

    			} else if (heading == "left") {
    				mesh.rotation.y = Math.PI * 1;

    			}


				//remove this later and just cycle eventually. it makes everything very slow D:
				requestAnimationFrame(animate);
			});
		}

		var init = function () {
			$.post("/getBoardState", function (data) {
				board = data;

				scene = new THREE.Scene();

		        camera = new THREE.PerspectiveCamera( 90, 1, 1, 10000 );
		        camera.position.x = 200;
		        camera.position.y = 300;
		        camera.position.z = 700;
		        camera.lookAt(new THREE.Vector3(200,0,0))
		        scene.add( camera );

		        for (var i = 0; i <= maxX; i++) {
		        	for (var j = 0; j <= maxY; j++) {
		        		var boardObj = data[i][j];
		        		if (boardObj.type == "Space") {
		        			//add nothing for now

		        		} else if (boardObj.type == "Ship") {

		        			//var heading = boardObj.facing
		        			shipObjs.push(boardObj);

		        			loadSpaceShip(boardObj)

		        			/*
		        			var geometry = new THREE.CubeGeometry(50,50,50);

		        			//console.log(geometry)
		        			var material = new THREE.MeshBasicMaterial({color:0xff0000, wireframe: true});
		        			var mesh = new THREE.Mesh(geometry, material);
		        			mesh.position.x = boardObj.position.x * 50;
		        			mesh.position.z = boardObj.position.y * 50;
		        			
							

		        			//mesh.matrixAutoUpdate = false;
		        			
		        			if (heading == "up") {
		        				mesh.rotation.y = Math.PI * 1/2;

		        			} else if (heading == "right") {
		        				mesh.rotation.y = Math.PI * 0;

		        			} else if (heading == "down") {
		        				mesh.rotation.y = Math.PI * 3/2;

		        			} else if (heading == "left") {
		        				mesh.rotation.y = Math.PI * 1;

		        			}
		        			
		        			scene.add(mesh)
		        			shipToThree[boardObj.shipId] = mesh
		        			*/
		        		} else {
		        			alert('wat');
		        		}
		        	}
		        }

		        renderer = new THREE.CanvasRenderer();
		        renderer.setClearColorHex(0x000000);
		        renderer.setSize( 700, 700 );
		        renderer.domElement.id = "gameBoardCanvas"

		        document.getElementById("gameBoardDiv").appendChild( renderer.domElement );
		        animate();
	        });
    	}

    	var updateBoard = function (data) {
			clearBullets();
			var newBoard = data.board;
			var turns = data.turns;
			var moves = data.moves;
			var shots = data.shots;
			var firstDestroyed = data.destroyed.filter(function (n) {return n.manner=="crashed"});
			var secondDestroyed = data.destroyed.filter(function (n) {return n.manner=="shots"});

			//verifyBoard(newBoard);
			displayTurnsAndMoves(turns,moves);
			displayDestruction(firstDestroyed);
			displayShots(shots);
			displayDestruction(secondDestroyed);
			board = newBoard;
			requestAnimationFrame(animate)
		}

		var displayTurnsAndMoves = function (turns, moves) {
			
			for (i in turns) {
				var ship = turns[i].ship;
				var shipId = ship.shipId;
				var facing = turns[i].direction;
				//var oldFacing = board[ship.position.x][ship.position.y].facing;
				var turn = null;
				var dirToDeg = {
					'up' : 0,
					'right' : 90,
					'down' : 180,
					'left' : 270
				}

				var relRot = {
					'right': -90,
					'left' : 90
				}
				//var degree = dirToDeg[facing] - dirToDeg[oldFacing]
				var degree = relRot[facing]
				shipToThree[shipId].rotation.y += degree * Math.PI / 180;
				//paper.getById(shipRaphaelHash[shipId]).transform("...r"+degree)
				//paper.getById(shipRaphaelHash[shipId]).transform("...r"+degree)
				if (tracking === true) {
					if (shipId === trackedShipId) {
						/*
						adjusting camera expects:
						{
							facing: "right",
							position: 3js position
							rotation: 3js rotation
						}
						*/
						var arg = {
							facing: ship.facing,
							position: shipToThree[shipId].position,
							rotation: shipToThree[shipId].rotation,
							turning: true
						}
						adjustCameraToShip(arg)
					}
				}
			}
			
			for (i in moves) {
				var ship = moves[i].ship;
				var shipId = ship.shipId;
				var distance = moves[i].distance;
				shipToThree[shipId].translateX(distance*50);
				if (tracking === true) {
					if (shipId === trackedShipId) {
						/*
						adjusting camera expects:
						{
							facing: "right",
							position: 3js position
							rotation: 3js rotation
						}
						*/
						var arg = {
							facing: ship.facing,
							position: shipToThree[shipId].position,
							rotation: shipToThree[shipId].rotation,
							turning: false
						}

						adjustCameraToShip(arg)
					}
				}
				//paper.getById(shipRaphaelHash[shipId]).transform("r180");
				//paper.getById(shipRaphaelHash[shipId]).transform("...t0,-"+distance*50);
				//paper.getById(shipRaphaelHash[shipId]).animate({transform: "...t"+distance*50})
			}
			//requestAnimationFrame(animate)
		}

		var displayShots = function (shots) {
			for (i in shots) {
				var ship = shots[i].ship;
				var shipId = ship.shipId;
				var shipX = ship.position.x;
				var shipY = ship.position.y;
				var bulletX = shots[i].finalDest.x;
				var bulletY = shots[i].finalDest.y;

				if ((shipX !== bulletX) && (shipY !== bulletY)) {
					console.log("something terrible has happened :(");
					break;
				}

				if (shipY === bulletY) {
					if (shipX > bulletX) {
						for (var i = bulletX; i < shipX; i++) {
							drawBullet(i,bulletY);
							
						}
					} else if (shipX < bulletX) {
						for (var i = shipX+1; i <= bulletX; i++) {
							drawBullet(i,bulletY);
					
						}
					}
				} else if (shipX === bulletX) {
					if (shipY > bulletY) {
						for (var i = bulletY; i < shipY; i++) {
							drawBullet(bulletX,i);
							
						}
					} else if (shipY < bulletY) {
						for (var i = shipY+1; i <= bulletY; i++) {
							drawBullet(bulletX,i);
							
						}
					}
				}
			}
			requestAnimationFrame(animate)
		}

		var bulletLocations = [];

		var drawBullet = function (x,y) {
			//var newShip = paper.triangle(xPos*50+25,yPos*50+10,30);
			var bullet = new THREE.Mesh(
				new THREE.SphereGeometry(
					10),
				new THREE.MeshLambertMaterial({
					color: 0xCC0000
				}));
			//var bullet = paper.circle(x*50+25,y*50+25,10);
			//bullet.attr({fill:"black"});
			bullet.position.x = x * 50
			bullet.position.z = y * 50
			scene.add(bullet);

			bulletLocations.push(bullet);
		}

		var clearBullets = function () {
			for (i in bulletLocations) {
				//bulletLocations[i].remove();
				scene.remove(bulletLocations[i]);
			}
			bulletLocations = [];
			requestAnimationFrame(animate)
		}

		var displayDestruction = function (destroyed) {
			for (i in destroyed) {
				//var ship = destroyed[i].ship;
				//var shipId = ship.shipId;
				var shipId = destroyed[i].shipId
				//paper.getById(shipRaphaelHash[shipId]).remove();
				scene.remove(shipToThree[shipId])
			}
			requestAnimationFrame(animate)
		}

		var testRotate = function () {
			shipToThree[1].rotation.y += 3.14/4
			requestAnimationFrame(animate);
		}

		var testTranslate = function () {
			shipToThree[3].translateZ(50);
			requestAnimationFrame(animate);
		}

		var testShooting = function () {
			var shots = []
			/*var ship = shots[i].ship;
				var shipId = ship.shipId;
				var shipX = ship.position.x;
				var shipY = ship.position.y;
				var bulletX = shots[i].finalDest.x;
				var bulletY = shots[i].finalDest.y;*/
			shots.push({ship: {shipId: 3, position:{x:9,y:8}}, finalDest: {x:7,y:8}});
			displayShots(shots);
		}

		var testDestruction = function () {
			var destroyed = []
			/*var ship = shots[i].ship;
				var shipId = ship.shipId;
				var shipX = ship.position.x;
				var shipY = ship.position.y;
				var bulletX = shots[i].finalDest.x;
				var bulletY = shots[i].finalDest.y;*/
			destroyed.push({ship: {shipId: 3, position:{x:9,y:8}}, finalDest: {x:7,y:8}});
			displayDestruction(destroyed);
		}

		var enableTracking = function () {
			console.log("TRACKING: ONLINE");
			//for now always track shipId: 3
			//todo: implement a way to shuffle around ships or even pick a ship to track!!!
			trackedShipId = shipObjs[0].shipId
			var ship = shipToThree[trackedShipId];
			var shipPos = ship.position;
			var shipX = shipPos.x;
			var shipY = shipPos.y;
			var shipZ = shipPos.z;

			var facing = shipObjs[0].facing
			//var facing = board[shipX/50][shipZ/50].facing;
			tracking = true;
			

			var arg = {
				facing: facing,
				position: ship.position,
				rotation: ship.rotation
			}

			$("#trackButton").addClass("active")

			adjustCameraToShip(arg);

		}

		var stopTracking = function () {
			$("#trackButton").removeClass("active");
			camera.position.x = 0;
			camera.position.y = 500;
		    camera.position.z = 1200;
		    camera.lookAt(new THREE.Vector3(0,0,0));
		    tracking = false;
		    requestAnimationFrame(animate)

		}

		var switchTracking = function () {
			var currentIndex = null;
			for (var i = 0; i < shipObjs.length; i++) {
				if (shipObjs[i].shipId === trackedShipId) {
					currentIndex = i;
				}
			}

			if (currentIndex === shipObjs.length - 1) {
				currentIndex = -1;
			}

			var newShipObj = shipObjs[currentIndex+1];

			var shipInThree = shipToThree[newShipObj.shipId]

			var arg = {
				facing: newShipObj.facing,
				position: shipInThree.position,
				rotation: shipInThree.rotation
			}
			trackedShipId = newShipObj.shipId
			adjustCameraToShip(arg);
		}
		/*
		adjusting camera expects:
		{
			facing: "right",
			position: {x: 1, y: 2, z: 3},
			rotation: {x: 0, y: 0, z: 0}
		}
		*/
		var adjustCameraToShip = function (json) {

			
			var facing = json.facing;
			var position = json.position;
			var xPos = position.x;
			var yPos = position.y;
			var zPos = position.z;
			var rotation = json.rotation;
			var xRot = rotation.x;
			var yRot = rotation.y;
			var zRot = rotation.z;

			isTurning = json.turning;

			camera.rotation.x = rotation.x;
			camera.rotation.z = rotation.z;
			camera.rotation.y = rotation.y - Math.PI / 2;

			camera.position.x = position.x;
			camera.position.y = position.y+75;
			camera.position.z = position.z;

			if (facing === "up") {
				//camera.translateZ(100);
				camera.position.z += 100;
			} else if (facing === "right") {
				//camera.translateX(-100);
				camera.position.x -= 100;
			} else if (facing === "down") {
				//camera.translateZ(-100);
				camera.position.z -= 100;
			} else if (facing === "left") {
				//camera.translateX(100);
				camera.position.x += 100;
			} else {
				console.log("hue");
			}

			//camera.lookAt(position)


			//setTimeout("requestAnimationFrame(animate)",100)

			requestAnimationFrame(animate)
		}


		var animate = function () {
			//requestAnimationFrame(animate);
			render();
		}

		var render = function () {
			//mesh.rotation.x += 0.01;
			//mesh.rotation.y += 0.02;
			renderer.render(scene, camera);
			/*
			if (isTurning) {
				blurCanvas();
				//isTurning = false;
			}
			*/
		}

		var blurCanvas = function () {
			boxBlurCanvasRGB("gameBoardCanvas",0,0,500,350,1)
			//boxBlurCanvasRGB("gameBoardCanvas",0,350,100,100,2)
		}
		</script>
	</head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Gala</a>
				</div>
			</div>
		</div>
		<div id="content">
			<div class="hero">
				<h1>Cinematic View</h1>
				<br>
				<p>Watch the battle in splendid 3D! Zoom around the battlefield and enjoy the carnage.</p>


			</div>
			<div class="container">

				

				<div class="row">
					<div class="span10" id="gameBoardDiv">
					</div>
					<div class="span2">
						<h2>Controls</h2>
						<p>w|s: Move Forward/Backward
							<br>a|d: Strafe Left/Right
							<br>o|p: Move Up/Down
							<br>[|]: Look Down/Up
							<br>;|': Look Left/Right
							<br>.|/: Tilt camera Left/Right
						</p>
						<hr>
						<p>
							<button class="btn btn-primary" id="trackButton" onclick="enableTracking()">Track a ship</button>
						</p>
						<p>
							<button class="btn btn-info" id="switchButton" onclick="switchTracking()">Change tracking ship</button>	
						</p>	
						<p>
							<button class="btn btn-inverse" id="untrackButton" onclick="stopTracking()">Stop tracking</button>
						</p>
					</div>
				</div>

				<hr>
				<footer>
					<p>&copy; Ajay Tripathy & Kevin Hwang 2012</p>
				</footer>
			</div>
		</div>

	</body>
</html>